html {
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE 10+*/
    scrollbar-width: none; /* Firefox */
}
html::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}


#loading {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: fixed;
   display: block;
   opacity: 0.7;
   background-color: #fff;
   z-index: 99;
   text-align: center;
}

#loading-image {
  position: absolute;
  top: 100px;
  left: 240px;
  z-index: 100;
}


.slide1 {
    background-image: url(../resources/images/IMG_8472.jpg);
    background-attachment: fixed;
    background-position: center;  
    background-size: cover;
    
    transition: all 1.5s cubic-bezier(0.47, 0, 0.745, 0.715);
    -webkit-transition: all 1.5s cubic-bezier(0.47, 0, 0.745, 0.715);
    -ms-transition: all 1.5s cubic-bezier(0.47, 0, 0.745, 0.715);
 transition-delay: 1s;

    height: 100vh; 
    overflow: hidden;
    position: relative;

}

.slide2 {
    background-image: url(../resources/images/IMG_1306-2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}


@keyframes bouncing {
    0% {
        bottom: 100px;
    }

    50% {
        bottom: 80px;
    }

    100% {
        bottom: 100px;
    }
}

.downarrow {
    color: white;
    animation: bouncing 1s infinite ease-in-out;
    bottom: 50px;
    display: block;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    transition: ease-in-out 0.3s;
}

.downarrow:hover{
    color: #7f8c8d;
}

.dabba {
    float: right;
}

.btn-container {
    display: block;
    height: 100%;
    width: 20%;
    margin-left: 10%;
    margin-top: 5%;
    
}

.top-btn {
    font-weight: bold;
    background: transparent;
    color: white;
    border: 5px solid white;
    /* filter: blur(2px); */
    transition: ease-in-out 0.3s;

}

.top-btn:hover {
    color: black;
    background: white;
    filter: none;
}

.btn-span {
    float: right;
    padding: 20px;
}

.social {
    background: transparent;
    color: white;
    height: 100px;
    width: 100px;
    border: 5px solid white;
    transform: rotate(45deg);
    transition: ease-in-out 0.5s;
    position: relative;
    /* filter: blur(2px); */
}
.fb{
    transition: ease-in-out 0.5s, transform 1s;
}
.fb:hover{
    transform:rotate(45deg) translate(-10px, -10px);
}

.insta{
    transition: ease-in-out 0.5s, transform 1s; 
}
.insta:hover{
    transform:rotate(45deg) translate(10px, 10px);
}

.social:hover {
    color: black;
    background: white;
    filter: none;
    
}

.trap-logo {
    background: transparent;
    text-align: center;
    color: white;
    height: 300px;
    width: 300px;
    border: 5px solid white;
    
    transform: rotate(45deg);
    transition: ease-in-out 0.5s, transform 1s;
    position: relative;
}

.trap-logo:hover {
    background: white;
   
    color: black;
    height: 300px;
    width: 300px;
    border: 5px solid white;
    transform: rotate(45deg) translate(20px,-20px);
    /* transition: ease-in-out 0.5s; */
}

.inside {
    transform: rotate(-45deg);
}



.fb:hover {
    color: #3b5998;
}

.insta:hover {
    color: hotpink;
}