@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600,700");
* {
  box-sizing: border-box;
}

body {
  font-family: 'Fira Sans';
  background: #e7e7e7;
  margin-top: 5%;
}

.flex-container, .c-logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  text-decoration: none !important;
}

.c-logo {
  width: 300px;
  height: 300px;
  background-color: #7e56ff;
  background-image: linear-gradient(to right top, #013e41, #02464b, #034d55, #055560, #0a5d6b, #086978, #047686, #008393, #0098a4, #00aeb4, #00c4c1, #0edacd);
  box-shadow: 0 20px 27px rgba(0, 0, 0, 0.05);
  color: white;
  text-decoration: none;
  font-size: 4em;
  font-weight: 300;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(500px);
          transform: perspective(500px);
  box-shadow: 0 20px 70px -10px rgba(0, 0, 0, 0.7), 0 50px 100px 0 rgba(0, 0, 0, 0.2);
}
.c-logo > span {
  display: block;
  -webkit-transform: translateZ(50px) scale(0.6);
          transform: translateZ(50px) scale(0.6);
  text-shadow: -2px -1px 2px #969696;
}
.c-logo:hover:after {
  -webkit-transform: translateZ(-100px);
          transform: translateZ(-100px);
}
